* { 
	margin: 0; 
	padding: 0; 
}

body {
	background-color: blue;
	margin: 0 auto;
	font-weight: bold;
	overflow: hidden;
}

ul {
	list-style: none;
}

.fish {
	position: absolute;
	height: 600px;
	display: none;
	overflow: hidden;
}

/*#msg {
	display: none;
}*/

.food {
/*	display: none;*/
	float: left;
}

span{
	color: white;
}

p{
	float: left;
	color: orange;
}